<div class="flex justify-center my-4">
  <div class="title"><%= @name %></div>
</div>
<div class="flex flex-col justify-center">
    <%= link to: "/events/#{@guid}/scorecards" do %>
      <button type="button">View & Edit Scores</button>
    <% end %>
    <%= link to: "/events/#{@guid}/leaderboard" do %>
      <button type="button">Leaderboard</button>
    <% end %>
    <%= link to: "/events/#{@guid}/settings" do %>
      <button type="button">Settings</button>
    <% end %>
</div>