body {
    @apply text-gray-800;
    @apply font-medium;
}

button {
    @apply border;
    @apply border-white;
    @apply bg-cool-gray-100;
    @apply rounded-lg;
    @apply outline-none;
    @apply my-3;
    @apply font-medium;
    @apply text-gray-800;
    @apply tracking-normal;
    @apply w-full;
}

button:hover {
    @apply border-cool-gray-300;
    @apply bg-cool-gray-300;
    @apply text-gray-800;
}

button:active {
    @apply border-cool-gray-300;
    @apply bg-cool-gray-300;
    @apply text-gray-800;
}

button:focus {
    @apply outline-none;
    @apply shadow-none;
    @apply border-cool-gray-300;
    @apply bg-white;
    @apply text-gray-800;
}

input {
    @apply border;
    @apply border-cool-gray-300;
    @apply rounded-lg;
    @apply outline-none;
    @apply py-4;
    @apply mb-8;
    @apply font-light;
    @apply text-gray-800;
    @apply w-full;
}

label {
    @apply font-normal;
    @apply text-gray-700;
}

form {
    @apply px-4;
    @apply w-full;
}

a {
    @apply text-blue-700;
    @apply cursor-pointer;
}

.primary-btn {
    @apply bg-green-100;
}

.danger-btn {
    @apply bg-red-200;
}

.primary-btn:focus {
    @apply bg-green-100;
}

.alert {
    @apply flex;
    @apply justify-center;
    @apply text-center;
    @apply mb-10;
    @apply mx-4;
    @apply border;
    @apply rounded-lg;
    @apply p-4;
}

.alert-info {
    @apply bg-blue-100;
    @apply border-blue-500;
    @apply text-blue-700;
}

.alert-danger {
    @apply bg-red-100;
    @apply border-red-500;
    @apply text-red-700;
}

.title {
    @apply text-xl;
    @apply mb-4;
    @apply text-center;
}

.hole-btn {
    @apply text-center;
    @apply font-light;
    width: 40px;
    height: 40px;
    touch-action: manipulation;
}

.hole-input {
    @apply text-center;
    @apply font-normal;
    @apply mb-0;
    width: 40px;
    height: 40px;
    touch-action: manipulation;
}