body {
    @apply text-gray-800;
    @apply font-medium;
    margin-top: -10px;
}

button {
    @apply border-none;
    @apply bg-gradient-to-r from-cool-gray-300 to-gray-200;
    @apply shadow-lg;
    @apply rounded-lg;
    @apply outline-none;
    @apply my-4;
    @apply font-medium;
    @apply text-gray-800;
    @apply tracking-normal;
    @apply w-full;
    height: 44px;
}

button:hover {
    @apply text-gray-800;
    @apply outline-none;
}

button:active {
    @apply text-gray-800;
    @apply outline-none;
}

button:focus {
    @apply outline-none;
    @apply shadow-none;
    @apply text-gray-800;
}

input {
    @apply border;
    @apply border-cool-gray-300;
    @apply rounded-lg;
    @apply outline-none;
    @apply py-4;
    @apply mb-8;
    @apply font-light;
    @apply text-gray-800;
    @apply w-full;
}

select {
    @apply border;
    @apply border-cool-gray-300;
    @apply rounded-lg;
    @apply outline-none;
    @apply px-4;
    @apply mb-8;
    @apply font-light;
    @apply text-gray-800;
    @apply w-full;
}

label {
    @apply font-normal;
    @apply text-gray-700;
}

form {
    @apply px-4;
    @apply w-full;
}

a {
    @apply text-blue-700;
    @apply cursor-pointer;
}

.scorecard-btn {
    @apply h-auto;
    @apply p-6;
}

.nav-btn {
    @apply bg-gradient-to-r from-cool-gray-100 to-white;
}

.leaderboard-icon {
    @apply bg-leaderboard;
    @apply bg-no-repeat;
    @apply bg-center;
    @apply bg-contain;
    @apply shadow-none;
}

.close-icon {
    @apply bg-close;
    @apply bg-no-repeat;
    @apply bg-center;
    @apply bg-contain;
    @apply shadow-none;
}

.primary-btn {
    @apply bg-gradient-to-r from-cool-gray-500 to-blue-400;
    @apply text-white;
    @apply font-semibold;
}

.danger-btn {
    @apply bg-red-200;
}

.primary-btn:focus {
    @apply bg-green-200;
}

.alert {
    @apply flex;
    @apply justify-center;
    @apply text-center;
    @apply mb-10;
    @apply mx-4;
    @apply border;
    @apply rounded-lg;
    @apply p-4;
}

.alert-info {
    @apply bg-blue-100;
    @apply border-blue-500;
    @apply text-blue-700;
}

.alert-danger {
    @apply bg-red-100;
    @apply border-red-500;
    @apply text-red-700;
}

.header {
    @apply bg-gradient-to-br from-green-600 via-cool-gray-500 to-blue-400;
    @apply p-8;
    @apply text-white;
}

.title {
    @apply text-xl;
    @apply text-center;
    @apply font-semibold;
}

.subtitle {
    @apply mt-2;
    @apply mb-4;
    @apply font-light;
    @apply text-center;
}

.hole-btn {
    @apply text-center;
    @apply font-light;
    width: 40px;
    height: 40px;
    touch-action: manipulation;
}

.hole-input {
    @apply text-center;
    @apply font-normal;
    @apply mb-0;
    width: 40px;
    height: 40px;
    touch-action: manipulation;
}

.scorecard-form {
    @apply px-8;
    @apply my-4;
}

.scorecard-container {
    @apply border;
    @apply border-cool-gray-300;
    @apply rounded-lg;
    @apply p-6;
    @apply my-6;
}

.scorecard-box {
    @apply border;
    @apply p-1;
    @apply text-center;
    height: 30px;
    @apply bg-blue-50;
}

.scorecard-box.par {
    @apply bg-blue-100;
}

.scorecard-box.score {
    @apply bg-white;
    @apply font-semibold;
}

.scorecard-box.totals {
    @apply bg-white;
    @apply rounded-lg;
}